@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
* {
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
.main {
    background-image: url(assests/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.2;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav image {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}
.hero {
    height: 100%-62px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    position: relative;
    font-family: "Google Sans", sans-serif;
    gap: 23px;
    padding: 0 30px;

}
.hero>:first-child {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
.hero:nth-child(2) {
    font-weight: 700px;
    font-size: 24px;
        text-align: center;


}
.hero:nth-child(3) {
    font-weight: 700px;
    font-size: 20px;
        text-align: center;

}
.sep{
    height:7px;
    background-color: rgb(85, 70, 70);
}
.btn{
padding: 3px 8px;
font-weight: bold;
background-color: white;
color: rgba(240, 248, 255, 0.061);
border:1px solid white ;

}
.btn-red {
    background-color: red;
    padding:3px 24px ;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: red;

}
.main input{
padding: 3px 24px;
 font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23,0.2);
    color: aliceblue;
}
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top:51px;
    right:0;
    width: 25vw;
}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }


}



